@page "/"

<div class="d-flex justify-content-around">
    <a class="fs-4" href="~/performanceReader">Leitor de desempenho</a>
    <a class="fs-4" href="~/instructionReordering">Reordenação de instruções</a>
</div>