@page "/"

<div class="d-flex justify-content-around">
    <a class="fs-4" href="/PerformanceReader">Leitor de desempenho</a>
    <a class="fs-4" href="/InstructionReordering">Reordenação de instruções</a>
</div>